body{
  font-family: $helneue;
  font-size: 16px;
  letter-spacing: .02em;
  counter-reset: step-sect;
}

.container{
	max-width: 1170px;
	width: 90%;
  padding: 0 15px;
	margin: 0 auto;
  
  @media screen and (max-width: $threed-media) {
    width: 100%;
  }
}

.modal-fixed {
  overflow: hidden;
  padding-right: 15px;
}

.brand-color {
  color: #aa62f4;
}

@media screen and (max-height: 700px) {
  html {
    font-size: 9px;
  }
  
  body {
    font-size: 15px;
  }
}

@media screen and (max-width: $first-media) {
  html {
    font-size: 13px;
  }

  body {
    font-size: 15px;
  }
}

@media screen and (max-width: $second-media) {
  html {
    font-size: 10px;
  }

  body {
    font-size: 14px;
  }
}

@media screen and (max-width: $threed-media) {
  html {
    font-size: 8px;
  }

  body {
    font-size: 13px;
  }
}

@media screen and (max-width: $mobil400) {
  html {
    font-size: 7px;
  }

  body {
    font-size: 12px;
  }
}

