@font-face {
  font-family: 'Gilroy';
  src: 
    local('Gilroy'),
    url('../fonts/gilroy/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../fonts/gilroy/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/gilroy/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: 
    local('HelveticaNeueCyr'),
    url('../fonts/helveticanue/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../fonts/helveticanue/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../fonts/helveticanue/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: 
    local('HelveticaNeueCyr'),
    url('../fonts/helveticanue/HelveticaNeueCyr-Light.woff2') format('woff2'),
    url('../fonts/helveticanue/HelveticaNeueCyr-Light.woff') format('woff'),
    url('../fonts/helveticanue/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src:
    local('HelveticaNeueCyr'),
    url('../fonts/helveticanue/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../fonts/helveticanue/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/helveticanue/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: 
    local('HelveticaNeueCyr'),
    url('../fonts/helveticanue/HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('../fonts/helveticanue/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('../fonts/helveticanue/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: 
    local('HelveticaNeueCyr'),
    url('../fonts/helveticanue/HelveticaNeueCyr-Black.woff2') format('woff2'),
    url('../fonts/helveticanue/HelveticaNeueCyr-Black.woff') format('woff'),
    url('../fonts/helveticanue/HelveticaNeueCyr-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: 
    local('Open Sans'),
    url('../fonts/opensans/OpenSans-Semibold.woff2') format('woff2'),
    url('../fonts/opensans/OpenSans-Semibold.woff') format('woff'),
    url('../fonts/opensans/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: 
    local('Open Sans'),
    url('../fonts/opensans/OpenSans-Extrabold.woff2') format('woff2'),
    url('../fonts/opensans/OpenSans-Extrabold.woff') format('woff'),
    url('../fonts/opensans/OpenSans-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: 
    local('Open Sans'),
    url('../fonts/opensans/OpenSans.woff2') format('woff2'),
    url('../fonts/opensans/OpenSans.woff') format('woff'),
    url('../fonts/opensans/OpenSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: 
    local('Open Sans'),
    url('../fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/opensans/OpenSans-Bold.woff') format('woff'),
    url('../fonts/opensans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
