.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  background: grey;
  display: none;
  
  & > *{
    margin: 20px;
  }
}

.modal-thnx {
  position: relative;
  width: 100%;
  max-width: 446px;
  padding: 1em 2.375em;
  padding-top: 1.4em;
  background-color: #fff;
  text-align: center;
}

.modal-thnx__btn {
  display: flex;
  justify-content: flex-end;
  width: calc(100% + 1em);
  margin-bottom: 2.3rem;
}

.close-btn {
  position: relative;
  width: 20em;
  height: 20em;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1px;
  color: #84878a;
  transition: color .3s;
  
  &:hover {
    color: darken(#84878a, 10%);
  }
  
  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 100%;
    width: 1px;
    background: currentColor;
  }
  
  &:before {
    transform: rotate(45deg);
  }
  
  &:after {
    transform: rotate(-45deg);
  }
}

.modal-thnx__title {
  position: relative;
  margin-bottom: 2.8rem;
  color: $dkgrey;
  font-weight: 700;
  font-size: 1.625em;
}

.modal-thnx__desc {
  margin-bottom: 3rem;
  font-size: 1.250em;
  color: #5b5b5b;
  line-height: 1.5;
}

.modal-thnx__title--decor {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.6rem;
    margin: auto;
    height: 2px;
    width: 50px;
    background: $brand-color;
  }
}

.modal-thnx__desc-bold {
  font-weight: 700;
  color: $dkgrey;
  font-size: 2em;
}

.modal-thnx--form {
  text-align: left;
  .modal-thnx__title {

    &.modal-thnx__title--decor:before {
      right: auto;
      left: 0;
    }
  }
}

.modal-thnx__form__item:not(:last-child){
  margin-bottom: 10px;
}

.modal-thnx__form__item > .btn {
  width: 100%;
}

.modal-thnx__form {
  margin-bottom: 1.250em;
}

.modal-thnx__subtext {
  font-size: 13px;
  text-align: center;
  color: #777777;
}










