.question-section {
  position: relative;
  z-index: 1;
  padding: 5.3rem 0;
  background-image: url('../img/bg/house.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 21%;
}

.question-section__title-sub {
  padding-top: 10px;
  font-weight: 400;
  font-size: 1.250em;
  letter-spacing: .02em;
  color: $grey;
  text-align: center;
  line-height: 1.2;

  & > span {
    font-weight: 700;
    color: $brand-color;
  }
}

.question-section__lists {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 6.8rem;
  
  @media screen and (max-width: $second-media) { 
    display: block;
  }
}

.question-section__title {
  margin-bottom: 5rem;
}

.question-section__lists-item {
  display: flex;
  width: 50%;
  padding: 0 1.375em;
  
  &:last-child {
    margin-right: 0;
  }
  
  @media screen and (max-width: $second-media) { 
    width: 100%;
    margin-bottom: 8rem;
  }
}

.ques-sect {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.ques-sect {
  padding: 3.3rem 2.2rem;
  padding-bottom: 0;
}

.ques-sect__list {
  margin-bottom: 3rem;
  font-size: 0.938em;
  line-height: 1.4;
  color: #6f6f6f;
  font-family: $opensans;
}

.ques-sect__item:not(:last-child) {
  margin-bottom: 1.2em;
}

.ques-sect__item {
  position: relative;
  padding-left: 2.2em;
  
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: $brand-color;
    height: 11px;
    width: 3px;
  }
  
  &:after{
    transform: rotate(90deg);
  }
}

.ques-sect__btn {
  display: flex;
  justify-content: center;
  margin-bottom: -29px;
  
  & > .btn {
    max-width: 244px;
    width: 100%;
   
    &:hover {
      background-color: #fff;
    }
  }
  
  @media screen and (max-width: $threed-media) {
    margin-bottom: -22px;
  }
}

.footer-sect {
  display: flex;
  justify-content: center;
}




